# Bỏ qua các file object sinh ra trong quá trình biên dịch
*.o

# Bỏ qua file thực thi (chương trình sau khi make)
my_ls
my_ls.exe
*.out

# Bỏ qua các file cấu hình của trình soạn thảo mã nguồn và hệ điều hành
.DS_Store
.vscode/
.idea/
*.swp
*~